@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.debug{
  outline: 2px dashed red;
}

.clip-1-bottom {
  height:400px;
  clip-path: path('M1939.334-21.852s-228.768-30.757-470.828-30.757S971.1-21.852,971.1-21.852,661.211,25.712,418.437,25.712,0-21.852,0-21.852v686.36H1939.334Z');
}

.hero-image{
  max-width: 1200px;
}



.about-me-inner,.aula-inner{
  z-index: 50;
  position: relative;
  transform: translateY(-8vw);
}

.aula-inner{
  transform: translateY(-6vw);
}

.deco-shape {
  background-repeat: no-repeat;
  background-size:100%;
  background-position: center top;
  aspect-ratio: 16/8;
}

.deco-shape-1 {
  background-image: url('../img/deco-shape-1.png');
  aspect-ratio: 16/8;
}
.deco-shape-2 {
  background-image: url('../img/deco-shape-2.png');
  background-position: center bottom;
  aspect-ratio: 16/5;
}

